.note {
  max-width: 300px;
  height: 300px;
  background-color: #f7eb9d;
  margin: 5% auto;
  position: relative;

  h6 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
  }

  .deleteWrapper {
    display: flex;
    justify-content: space-between;
    padding: 3%;

    .removeNoteIcon {
      cursor: pointer;
    }
  }
}
