.notes {
  h1 {
    text-align: center;
  }

  .addNoteBtn,
  .sortNotesBtn {
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
  }

  .filterNotesInput {
    display: block;
    input {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.ui.modal > .content {
  padding: 0;
  background-color: #f7eb9d;
}
